
@{
    ViewBag.Title = "About";
}
<style>
    body {
        background-repeat: no-repeat;
    }

    .body1 {
        height: 100%;
        width: 100%;
        color: whitesmoke;
    }
</style>

<body class="body1" style="background-image:url('/Content/Design/img/i1.jpg')">
    <h2>About us</h2>
    <h3>Who we are?</h3>
    <h5>
        We have develope the "Classroom Allocation System" application,<br />
        In this application we are providing the various functionalities.

    </h5>
</body>
